/*Card*/
.card {
    width: 380px;
    height: 521px;
    margin-bottom: 27px;
    background-color: #F3F3F3;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  
  .card_picture {
    width: 380px;
    height: auto;
    position: relative;
  }
  
  .card_favourite {
    position: absolute;
    top: 34px;
    right: 32px;
    width: 46px;
    height: 46px;
    background: url("./../images/like.png") no-repeat center;
    cursor: pointer;
  }
  
  .favouriteyes {
    background: url("./../images/liked.png") no-repeat center;
    cursor: pointer;
  }
  
  .card_discount {
    width: 78px;
    height: 39px;
    background-color: #E52D2D;
    border-radius: 10px;
    position: absolute;
    top: 46px;
    left: 51px;
  }
  
  .card_discount_text {
    margin-left: 20px;
    line-height: 39px;
    color: #ffffff;
  }
  
  .nodiscount {
    display: none;
  }
  
  .card_content {
    width: 320px;
    height: 192px;
    margin: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  
  .card_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cat_stripe {
    width: 4px;
    height: 26px;
    background-color: #6EBBD3;
  }
  
  .cat_color,
  .cat_age,
  .cat_legs {
    width: 89px;
    height: auto;
  }
  
  .card_title,
  .card_price {
    font-size: 24px;
    font-weight: 700;
  }
  
  .text_primary {
    font-size: 16px;
    font-weight: 700;
  }
  
  .text_secondary {
    font-size: 12px;
  }
  
  .card_button {
    width: 380px;
    height: 65px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    border: none;
  }
  
  .onsale {
    background-color: #6EBBD3;
    cursor: pointer;
  }
  
  .outofsale {
    background-color: #1F2021;
  }
  
  .onsale:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  @media (max-width: 767px) {
    .body {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      width: 767px;
    }
  
    /*Header*/
    .header {
      position: relative;
      width: 767px;
      height: 134px;
      background: url("./../images/header_phone.jpg") no-repeat;
    }
  
    .header_wrapper {
      margin: 0 auto;
      padding: 20px 20px;
    }
  
    .header_cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 767px;
      height: 134px;
      background-color: rgba(31, 32, 33, 0.79);
      z-index: 1;
    }
  
    .header_menu {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2;
    }
  
    .navigation_menu {
      width: 78px;
      height: 51px;
    }
  
    .navigation_menu_phone {
      position: relative;
      width: 78px;
      height: 5px;
      border-top: 10px solid #ffffff;
      border-bottom: 10px solid #ffffff;
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px);
    }
  
    .menu_phone__list {
      -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
              transform: scaleY(0);
      position: absolute;
      width: 50px;
      height: auto;
      top: 10px;
      right: 30px;
      display: none;
      z-index: 100;
    }
  
    .navigation_menu_phone:hover .menu_phone__list {
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0;
    }
  
    .menu_phone__point {
      list-style: none;
    }
  
    .menu_phone__link {
      display: block;
      margin-bottom: 5px;
      padding: 5px;
      text-decoration: none;
      width: 70px;
      height: 20px;
      color: #000000;
      background-color: #d3d0cb;
      font-size: 20px;
    }
  
    .navigation_menu__list {
      display: none;
    }
  
    .phone_menu {
      display: none;
    }
  
    /*Main*/
    .main {
      width: 767px;
      height: auto;
    }
  
    /*Sort*/
    .sort {
      width: 767px;
      height: auto;
    }
  
    .sort_wrapper {
      margin: 0 auto;
    }
  
    .sort_block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .sort_maintext {
      font-weight: 700;
      line-height: 22px;
    }
  
    .sort_price {
      margin-left: 48px;
    }
  
    .sort_age {
      margin-left: 55px;
    }
  
    /*Catalogue*/
    .catalogue {
      width: 767px;
      height: auto;
    }
  
    .catalogue_wrapper {
      margin: 0 auto;
    }
  
    .catalogue_list {
      padding: 0 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    /*buttons*/
    .button_expansion {
      margin: 50px auto;
      margin-left: 258px;
    }
  
    .button {
      width: 250px;
      height: 65px;
      font-size: 14px;
      background-color: white;
      border-radius: 15px;
    }
  
    .button_totop {
      position: absolute;
      top: 3500px;
      left: 600px;
      width: 59px;
      height: 59px;
      background-color: #6EBBD3;
    }
  
    .totop_content {
      color: #ffffff;
      text-align: center;
      -webkit-transform: rotate(-90deg) translateX(-5px);
          -ms-transform: rotate(-90deg) translateX(-5px);
              transform: rotate(-90deg) translateX(-5px);
    }
  
    .button:hover,
  .button_totop:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    /*footer*/
    .footer {
      width: 767px;
      height: auto;
    }
  
    .footer_wrapper {
      margin: 0 auto;
    }
  
    .footer_promo {
      width: 676px;
      height: auto;
      padding: 20px 50px;
      background-color: #1F2021;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .promo_text {
      width: 500px;
      height: auto;
      margin-bottom: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .promo_text_primary {
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;
    }
  
    .promo_text_secondary {
      width: 500px;
      font-size: 28px;
      color: #ffffff;
    }
  
    .promo_form {
      width: 620px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    .promo_email {
      width: 300px;
      height: 65px;
      border-radius: 10px;
      padding-left: 33px;
      margin-right: 16px;
      margin-bottom: 24px;
    }
  
    .promo_button {
      width: 250px;
      height: 65px;
      border-radius: 10px;
      background-color: #6EBBD3;
      color: #ffffff;
      margin-bottom: 24px;
    }
  
    .promo_button:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    .promo_news {
      color: #ffffff;
    }
  }
  @media (min-width: 768px) {
    .body {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      width: 990px;
    }
  
    /*Header*/
    .header {
      position: relative;
      width: 990px;
      height: 173px;
      background: url("./../images/header_tablet.jpg") no-repeat;
    }
  
    .header_wrapper {
      margin: 0 auto;
      padding: 20px 20px;
    }
  
    .header_cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 990px;
      height: 173px;
      background-color: rgba(31, 32, 33, 0.79);
      z-index: 1;
    }
  
    .header_menu {
      position: relative;
      padding: 20px 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2;
    }
  
    .navigation_menu {
      width: 405px;
      height: auto;
      margin-left: 370px;
    }
  
    .navigation_menu_phone {
      display: none;
    }
  
    .navigation_menu__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none;
    }
  
    .navigation_menu__link {
      display: block;
      text-decoration: none;
      color: #ffffff;
    }
  
    .navigation_menu__link:hover {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3);
    }
  
    .phone_menu {
      width: 170px;
      height: auto;
      margin-left: 361px;
      padding-top: 23px;
    }
  
    .phone_menu__link {
      text-decoration: none;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
  
    .phone_menu__text {
      color: #ffffff;
      margin-left: 75px;
    }
  
    /*Main*/
    .main {
      width: 990px;
      height: auto;
    }
  
    /*Sort*/
    .sort {
      width: 990px;
      height: auto;
    }
  
    .sort_wrapper {
      margin: 0 auto;
    }
  
    .sort_block {
      padding: 37px 82px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .sort_maintext {
      font-weight: 700;
      line-height: 22px;
    }
  
    .sort_price {
      margin-left: 48px;
    }
  
    .sort_age {
      margin-left: 55px;
    }
  
    /*Catalogue*/
    .catalogue {
      width: 990px;
      height: auto;
    }
  
    .catalogue_wrapper {
      margin: 0 auto;
    }
  
    .catalogue_list {
      padding: 0 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    /*buttons*/
    .button_expansion {
      margin-left: 310px;
      margin-bottom: 83px;
    }
  
    .button {
      width: 380px;
      height: 65px;
      font-size: 14px;
      background-color: white;
      border-radius: 15px;
    }
  
    .button_totop {
      position: absolute;
      top: 1982px;
      left: 850px;
      width: 59px;
      height: 59px;
      background-color: #6EBBD3;
    }
  
    .totop_content {
      color: #ffffff;
      text-align: center;
      -webkit-transform: rotate(-90deg) translateX(-5px);
          -ms-transform: rotate(-90deg) translateX(-5px);
              transform: rotate(-90deg) translateX(-5px);
    }
  
    .button:hover,
  .button_totop:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    /*footer*/
    .footer {
      width: 990px;
      height: 312px;
    }
  
    .footer_wrapper {
      margin: 0 82px;
    }
  
    .footer_promo {
      width: 726px;
      height: 312px;
      padding: 20px 50px;
      background-color: #1F2021;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .promo_text {
      width: 367px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  
    .promo_text_primary {
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;
    }
  
    .promo_text_secondary {
      width: 300px;
      font-size: 28px;
      color: #ffffff;
    }
  
    .promo_form {
      width: 620px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    .promo_email {
      width: 300px;
      height: 65px;
      border-radius: 10px;
      padding-left: 33px;
      margin-right: 16px;
      margin-bottom: 24px;
    }
  
    .promo_button {
      width: 250px;
      height: 65px;
      border-radius: 10px;
      background-color: #6EBBD3;
      color: #ffffff;
      margin-bottom: 24px;
    }
  
    .promo_button:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    .promo_news {
      color: #ffffff;
    }
  }
  @media (min-width: 992px) {
    .body {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      width: 1440px;
    }
  
    /*Header*/
    .header {
      position: relative;
      width: 1440px;
      height: 252px;
      background: url("./../images/header_desktop.jpg") center no-repeat;
    }
  
    .header_wrapper {
      margin: 0 auto;
      padding: 26px 139px;
    }
  
    .header_cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 1440px;
      height: 252px;
      background-color: rgba(31, 32, 33, 0.79);
      z-index: 1;
    }
  
    .header_menu {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2;
    }
  
    .navigation_menu {
      width: 405px;
      height: auto;
      margin-left: 110px;
    }
  
    .navigation_menu_phone {
      display: none;
    }
  
    .navigation_menu__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none;
    }
  
    .navigation_menu__link {
      display: block;
      text-decoration: none;
      color: #ffffff;
    }
  
    .navigation_menu__link:hover {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3);
    }
  
    .phone_menu {
      width: 170px;
      height: auto;
      margin-left: 361px;
      padding-top: 23px;
    }
  
    .phone_menu__link {
      text-decoration: none;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
  
    .phone_menu__text {
      color: #ffffff;
      margin-left: 75px;
    }
  
    /*Main*/
    .main {
      width: 1440px;
      height: auto;
    }
  
    /*Sort*/
    .sort {
      width: 1440px;
      height: auto;
    }
  
    .sort_wrapper {
      margin: 0 auto;
    }
  
    .sort_block {
      position: relative;
      padding: 37px 140px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .sort_maintext {
      font-weight: 700;
      line-height: 22px;
    }
  
    .sort_price {
      margin-left: 48px;
    }
  
    .sort_age {
      margin-left: 55px;
    }
  
    /*Catalogue*/
    .catalogue {
      width: 1440px;
      height: auto;
    }
  
    .catalogue_wrapper {
      margin: 0 auto;
    }
  
    .catalogue_list {
      padding: 0 129px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    /*buttons*/
    .button_expansion {
      margin-left: 532px;
      margin-bottom: 83px;
    }
  
    .button {
      width: 380px;
      height: 65px;
      font-size: 14px;
      background-color: white;
      border-radius: 15px;
    }
  
    .button_totop {
      position: absolute;
      top: 1522px;
      left: 1152px;
      width: 59px;
      height: 59px;
      background-color: #6EBBD3;
    }
  
    .totop_content {
      color: #ffffff;
      text-align: center;
      -webkit-transform: rotate(-90deg) translateX(-5px);
          -ms-transform: rotate(-90deg) translateX(-5px);
              transform: rotate(-90deg) translateX(-5px);
    }
  
    .button:hover,
  .button_totop:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    /*footer*/
    .footer {
      width: 1440px;
      height: 312px;
    }
  
    .footer_wrapper {
      margin: 0 130px;
    }
  
    .footer_promo {
      width: 1180px;
      height: 312px;
      padding: 0 0;
      background-color: #1F2021;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .promo_text {
      width: 367px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  
    .promo_text_primary {
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;
    }
  
    .promo_text_secondary {
      width: 300px;
      font-size: 28px;
      color: #ffffff;
    }
  
    .promo_form {
      width: 620px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  
    .promo_email {
      width: 300px;
      height: 65px;
      border-radius: 10px;
      padding-left: 33px;
      margin-right: 16px;
      margin-bottom: 24px;
    }
  
    .promo_button {
      width: 250px;
      height: 65px;
      border-radius: 10px;
      background-color: #6EBBD3;
      color: #ffffff;
      margin-bottom: 24px;
    }
  
    .promo_button:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    .promo_news {
      color: #ffffff;
    }
  }
  